<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-row justify-content-center>
    <ion-row col-12 col-sm-8 col-lg-6 no-padding>
      <ion-list col-12 no-padding no-margin>
        <ion-item>
          <ion-label>ใช้รถไฟฟ้าเดินทาง</ion-label>
          <ion-select [(ngModel)]="cycle">
            <ion-option value="1">จันทร์ - ศุกร์</ion-option>
            <ion-option value="2">จันทร์ - เสาร์</ion-option>
            <ion-option value="3">ทุกวันอาทิตย์ - เสาร์</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          1. BTS 50 เที่ยว 30 วัน
          <p>ราคา 1250 บาท</p>
          <p>ส่วนต่อขยายราคา {{15*50}} บาท</p>
          <div item-end text-center>
            <!--<small>เที่ยวสุดท้าย</small>
            <p>{{getLastTrip(cycle,getTrips(cycle, 50))}}</p>-->
            <div>เหลือ {{getTrips(cycle, 50)}} เที่ยว</div>
          </div>
        </ion-item>
        <ion-item>
          2. BTS 40 เที่ยว 30 วัน
          <p>ราคา 1040 บาท</p>
          <p>ส่วนต่อขยายราคา {{15*40}} บาท</p>
          <div item-end>
            <!--<small>เที่ยวสุดท้าย</small>
            <p>{{getLastTrip(cycle,getTrips(cycle, 40))}}</p>-->
            <div>เหลือ {{getTrips(cycle, 40)}} เที่ยว</div>
          </div>
        </ion-item>
        <ion-item>
          3. BTS 25 เที่ยว 30 วัน
          <p>ราคา 700 บาท</p>
          <p>ส่วนต่อขยายราคา {{15*25}} บาท</p>
          <div item-end>
            <!--{{getTrips(cycle, 25)}}-->
            <!--<small>เที่ยวสุดท้าย</small>
            <p>{{getLastTrip(cycle,getTrips(cycle, 25))}}</p>-->
            <div>เหลือ {{getTrips(cycle, 25)}} เที่ยว</div>
          </div>
        </ion-item>
        <ion-item>
          4. BTS 15 เที่ยว 30 วัน
          <p>ราคา 450 บาท</p>
          <p>ส่วนต่อขยายราคา {{15*15}} บาท</p>
          <div item-end>
            <!--{{getTrips(cycle, 15)}}-->
            <!--<small>เที่ยวสุดท้าย</small>
            <p>{{getLastTrip(cycle,getTrips(cycle, 40))}}</p>-->
            <div>เหลือ {{getTrips(cycle, 15)}} เที่ยว</div>
          </div>
        </ion-item>
        <ion-item color="primary">
          <p>วันนี้</p>
          <small>{{now}}</small>
          <div item-end>
            <p>หมดอายุ</p>
            <small>{{end}}</small>
          </div>
        </ion-item>
        <ion-item>
          <ion-row>
            <ion-col no-padding *ngFor="let i of ['อา.','จ.','อัง.','พ.','พฤ.','ศ.','ส.']" center text-center>
              {{i}}
            </ion-col>
          </ion-row>
        </ion-item>
        <ion-item>
          <ion-row *ngFor="let j of [0,1,2,3,4,5]">
            <ion-col *ngFor="let i of [0,1,2,3,4,5,6]" center text-center>
              <div *ngIf="allCalendar[(j*7)+i].date != -1" [ngClass]="{'today': allCalendar[(j*7)+i].count == 0, 'expire': allCalendar[(j*7)+i].count == 29}">{{allCalendar[(j*7)+i].date}}</div>
              <ion-row *ngIf="allCalendar[(j*7)+i].date != -1" justify-content-around>
                <!--<ion-icon name="sunny"></ion-icon>
                <ion-icon name="moon"></ion-icon>-->
                <!--<small *ngIf="allCalendar[(j*7)+i].date != -1">{{(allCalendar[(j*7)+i].count+(j*7)+i)+1}}</small>-->
                <!--<small *ngIf="allCalendar[(j*7)+i].date != -1">{{(allCalendar[(j*7)+i].count+(j*7)+i)+2}}</small>-->
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-list>
    </ion-row>
  </ion-row>
</ion-content>